/* created by Ayush Raj | QOps */


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #03a9f4;
transition: 0.5s;
}

body.active{
background: #f43648;
}

.container{

position: relative;
width:100%;
height: 550px;
justify-content: center;
align-items: center;

}

.blurBg{
bottom:-10px;
left: 10%;
position: absolute;
width: 80%;
height:650px ;
background:rgba(255,255,255,0.2);
box-shadow: 0px 15px 45px rgba(0,0,0,0.15);
}

.blurBg .box{
position: relative;
height: 50%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

#head2{
margin-top: 65%;
color: #fff;
font-size: 16px;
font-weight:bold;
margin-bottom: 10px;
}

#head1{
margin-top:-150px;
color: #fff;
font-size: 16px;
font-weight:bold;
margin-bottom: 10px;
}



.blurBg .box button{
cursor: pointer;
padding: 10px 20px;
background-color: #fff;
color: #000;
font-size: 13px;
font-weight: bold;
border: none;
outline: none;
}

.formBx{
position: absolute;
margin-top: -90px;
top: 0;
left:41px;
height: 90%;
width: 80%;
background:#fff;
display: flex;
z-index: 1000;
box-shadow: 0px 15px 45px rgba(0,0,0,0.25);
justify-content: center;
align-items: center;
transition: 0.5s ease-in-out;
overflow: hidden;
}

.formBx.active{
top:155px;

}

.formBx .signinForm{
transition-delay: 0.25s;
}


.formBx.active .signinForm {
left: -100%;
transition-delay: 0s;
}

.formBx .signupForm{
margin-left: 100%;
transition-delay: 0.25s;

}

.formBx.active .signupForm {
left: -100%;
transition-delay: 0s;
}

.formBx .form{
position: absolute;
left: 0;
padding: 50px;
width: 100%;
transition: 0.5s;
}

.formBx .form form{
width: 100%;
display: flex;
flex-direction: column;
}

#formhead{
margin-left: 10%;
font-size: 1.5em;
color: #333;
margin-bottom: 20px;
font-weight: bold;
}

#input{
width: 80%;
margin-left: 10%;
margin-bottom: 20px;
padding: 10px;
outline: none;
font-size: 16px;
border: 1px solid #333;
}

#submit{
font-weight: bold;
background: #03a9f4;
border: none;
padding: 10px 20px;
color: #fff;
max-width: 80px;
cursor: pointer;
margin-left: 10%;
}

#submit2{
font-weight: bold;
background: #f43648;
border: none;
padding: 10px 20px;
color: #fff;
max-width: 100px;
cursor: pointer;
margin-left: 10%;
}

.forget{
margin-left: 10%;
color: #333;
}

#last{
text-align: center;
margin-top: 60%;
font-weight: bold;
}